$primario:#f9a03f;

body{
    background: #1b3d82;
    font-family: Arial;
    .articulo{
        background: #e9f1f7;
        width: 500px;
        padding: 20px;
        .titulo{
            color:$primario;
        }
        .autor{
            color:#4d5061; 
        }
        p{
            a{
                color:$primario;
            }
        }
        div{
            //esto es un comentario
            text-align:center;
            a{
                text-decoration: none;
                font-size:25px;
                color:$primario;
                &:hover{
                     text-decoration: underline;
                 }
            }
        }
    }
}