body {
    background:#f2f2f2;
}


.articulo {
   background: #fff;
   .titulo {
       color:#000;
   }
   .autor {
       color:#000;
   }
   p{
       a{
           text-decoration:none;
       }
   }
}